@import url('styles.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary Colors*/
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);

  /* ### Secondary Colors */
  --red: hsl(0, 87%, 67%);

  /* ### Neutral Colors */
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);

  /* Spacing */
  --container-padding: 4rem;

  /* ### Typograhpy */
  font-size: 1.125rem;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
}

#container {
  padding-inline: 2rem;
}

a {
  text-decoration: none;
}

button {
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

input {
  outline: none;
  font-family: 'Poppins', sans-serif;
  border: none;
}

::placeholder {
  font-family: 'Poppins', sans-serif;
}

/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

### Fonts

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 500, 700

## Icons

For the social icons, you can either use the SVGs provided or a font icon library. Some suggestions for font icon libraries can be found below:

- [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com)
*/