@import 'global.css';


/* ANIMATIONS */
@keyframes open-menu {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Header  */

header {
  width: 100%;
  padding-block: 1rem;
}

header .header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .header-container .account-buttons {
  display: none;
}

header .account-buttons {
  display: flex;
  gap: 2rem;
}

header .account-buttons .login-button {
  color: var(--grayish-violet);
  transition: 300ms all ease-out;
}

header .account-buttons .login-button:hover {
  color: black;
}

header .account-buttons .signin-button {
  color: white;
  background-color: var(--cyan);
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  transition: 300ms all ease-out;
}

header .account-buttons .signin-button:hover {
  filter: brightness(1.050);
}

header h1.logo {
  color: black;
}

header .button-hamburguer-menu {
  display: flex;
  align-self: center;
}

header .button-hamburguer-menu:hover {
  transform: scale(1.025);
  transition: all 300ms ease-out;
}

header .button-hamburguer-menu img {
  width: 3rem;
  height: 3rem;
}

header .mobile-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  padding-block: 1rem;
  padding-inline: 2rem;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1000;
  overflow-y: hidden;
  transition: all 300ms ease-out;
}

header .isOpen.mobile-menu {
  display: flex;
  transition: all 300ms ease-out;
  animation: open-menu 1s;
}

header .nav-links {
  display: none;
}

header .nav-links a {
  transition: 300ms ease-out;
  color: var(--grayish-violet);
}

header .nav-links a:hover {
  color: black;
}

header .mobile-menu .buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .button-close-menu {
  align-self: end;
}

header .button-close-menu:hover {
  transform: scale(1.025);
  transition: all 300ms ease-out;
}

header .button-close-menu img {
  width: 3rem;
  height: 3rem;
}

header .mobile-menu .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}

header .mobile-menu .nav-links a {
  font-size: 2.5rem;
}

/* -- MAIN -- */

/* main .hero {} */

/* main .hero-container {} */

main .hero {
  position: relative;
  padding-inline: 2rem;
}

main .hero-container .hero-ilustration {
  width: 28rem;
}

main .hero-container .hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 100px;
  position: relative;
}

main .hero-container .hero-wrapper h1 {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: black;
  text-align: center;
}

main .hero-container .hero-wrapper p {
  text-align: center;
  color: var(--gray);
  margin-bottom: .5rem;
}

main .hero-container .hero-wrapper .get-started-btn {
  color: white;
  background-color: var(--cyan);
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  transition: 300ms all ease-out;
  margin-bottom: 2rem;
}

main .hero-container .hero-wrapper button:hover {
  filter: brightness(1.050);
}

main #shorten-link {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 15px;
  width: 100%;
  background: var(--dark-violet) url('../assets/bg-shorten-mobile.svg') no-repeat top right;
}

main #shorten-link input {
  border-radius: 5px;
  padding: .6rem;
  width: 100%;
}

main input::placeholder {
  border-radius: 5px;
  font-size: .8rem;
  min-width: 100%;
}

main #shorten-link button {
  color: white;
  background-color: var(--cyan);
  padding: 0.5rem 1.5rem;
  transition: 300ms all ease-out;
  border-radius: 5px;
  padding: .6rem;
  min-width: 100%;
  font-weight: black;
  text-align: center;
}

main .hero>#shorten-link {
  display: none;
}

main .main-section {
  background-color: var(--gray);
  width: 100%;
  padding-top: 10%;
}

main .main-section-informations {
  margin-top: 100px;
}

main .main-section-informations h2 {
  color: var(--very-dark-violet);
  text-align: center;
}

main .main-section-informations p {
  color: white;
  text-align: center;
  width: 90%;
  max-width: 290px;
  margin: 5% auto;
}

main .main-container {
  padding: 0 0 70px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 315px;
  width: 50%;
  max-width: 350px;
  margin: 0 auto;

}

main .main-container-boxes {
  position: relative;
  margin-top: 100px;
  width: 90%;
  max-width: 300px;
  padding-bottom: 2rem;
  background-color: white;
  text-align: center;
  border-radius: 2%;
  z-index: 2;
}

main .main-container-boxes:nth-child(2)::before,
.main-container-boxes:nth-child(3)::before {
  content: "";
  background-color: var(--cyan);
  width: 7px;
  height: 130px;
  display: inline-block;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

main .main-container-boxes-header {
  padding: 1rem;
  margin: 0 auto;
  width: 100%;
}

main .main-container-boxes-header-img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: relative;
  top: -60px;
  z-index: 3;
  margin: 0 auto;
  background-color: var(--dark-violet);
}

main .main-container-boxes-header-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

main .main-container-boxes-header h3 {
  margin-top: -30px;
}

main .main-container-boxes-content p {
  color: var(--grayish-violet);
  font-size: .7rem;
  width: 100%;
  padding-inline: 1.5rem;
}

main .main-footer {
  padding: 2.5rem .5rem 1.5rem .5rem;
  width: 100%;
  background: var(--dark-violet) url('../assets/bg-shorten-mobile.svg') no-repeat top right;
}

main .main-footer h3 {
  color: white;
  text-align: center;
  width: 100%;
}

main .main-footer-button {
  color: white;
  display: block;
  margin: 25px auto;
  background-color: var(--cyan);
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  transition: 300ms all ease-out;
}

main .main-footer-button:hover {
  filter: brightness(1.050);
}


/* -- FOOTER -- */
footer {
  background-color: var(--very-dark-violet);
  padding-inline: 2rem;
  padding-block: 1rem;
  box-sizing: border-box;
  width: 100%;
}

footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding: 0 0 2rem 0;
}

footer .div-logo {
  font-size: 1.3rem;
  color: white;
}

footer .content-topic {
  cursor: pointer;
  color: white;
}

footer p {
  cursor: pointer;
  color: var(--grayish-violet);
  margin-top: 1.5rem;
}

footer div a:first-of-type p:first-of-type {
  margin-top: 1rem;
}

footer .div-social-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

footer .div-social-icons a svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
  transition: 300ms ease-out;
}

footer .div-social-icons a svg:hover {
  fill: var(--cyan);
}


/* ### MEDIA QUERIES */
  /*  max-width: 340px  */
@media(max-width:340px) {
  header .account-buttons .signin-button {
    padding: 0.5rem 1rem;
  }
}

  /*  min-width: 380px  */
@media screen and (min-width: 380px) and (min-height: 640px) {
  html, body {
    font-size: 21px;
  }
}


  /*  MIN-WIDTH: 760px  */
@media (min-width: 760px) {
    /* -- HEADER 760px -- */
  #container {
    padding-inline: var(--container-padding);
  }

  header .logo-nav-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  header .button-hamburguer-menu {
    display: none;
  }

  header .header-container .account-buttons {
    display: flex;
  }

  header .mobile-menu {
    display: none;
  }

  header .isOpen.mobile-menu {
    display: none;
  }

  header .nav-links {
    display: flex;
    gap: 2rem;
  }



  /* -- MAIN 760px -- */
  main .hero-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 100px;
    position: relative;
  }

  main .hero-container .hero-wrapper #shorten-link {
    display: none;
  }

  main .hero-container .hero-wrapper {
    display: flex;
    align-items: start;
    flex-direction: column;
  }

  main .hero-container .hero-ilustration {
    width: 35rem;
  }

  main .hero-container .hero-wrapper h1 {
    font-size: 4rem;
    line-height: 4rem;
    text-align: start;
  }

  main .hero-container .hero-wrapper p {
    text-align: start;
  }

  main .hero>#shorten-link {
    display: flex;
    flex-direction: row;
    align-self: center;
    max-width: 70%;
    left: 15%;
    top: 107%;
  }

  main .hero>#shorten-link button {
    min-width: 10rem;
    /* height: 2rem; */
  }

  main .hero>#shorten-link input {
    height: 2.6rem;
  }

  main .main-section-informations {
    width: 100%;
  }
  
  main .main-section-informations p {
    margin: 3% auto;
    width: 60%;
    max-width: 500px;
  }
  
  
  /* -- FOOTER 760px -- */
/* FOOTER */
  footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }

  footer p {
    margin-top: 1rem;
  }

  footer .div-social-icons {
    flex-direction: column;
  }
}



/*  MIN-WIDTH: 950px  */
@media screen and (min-width:950px) {
  /* -- FOOTER 950px -- */
  footer .div-social-icons {
    flex-direction: row;
  }
}

/*  MIN-WIDTH: 1280px and MIN-WIDTH: 640px  */
@media screen and (min-width: 1280px) and (min-height: 640px){
  /* -- MAIN 1280px -- */
  main .main-section {
    padding-bottom: 160px;
  }
  
  main .main-section-informations {
    margin-top: 50px;
  }
  
  main .main-container {
    max-width: initial;
    gap: 100px;
    width: 100%;
  }
 
  main .main-container-boxes:nth-child(2)::before, .main-container-boxes:nth-child(3)::before {
    width: 100px;
    height: 7px;
    top: 40%;
    left: -100px;
    transform: translate(0,-50%);
  }
  
  main .main-container-boxes:nth-child(2) {
    top: 70px;
  }

  main .main-container-boxes:nth-child(3) {
    top: 140px;
  } 
}