@import 'global.css';

/* ANIMATIONS */

@keyframes open-menu {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Header  */

header {
  width: 100%;
  padding-block: 1rem;
}

header .header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .header-container .account-buttons {
  display: none;
}

header .account-buttons {
  display: flex;
  gap: 2rem;
}

header .account-buttons .login-button {
  color: var(--grayish-violet);
  transition: 300ms all ease-out;
}

header .account-buttons .login-button:hover {
  color: black;
}

header .account-buttons .signin-button {
  color: white;
  background-color: var(--cyan);
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  transition: 300ms all ease-out;
}

header .account-buttons .signin-button:hover {
  filter: brightness(1.050);
}

header h1.logo {
  color: black;
}

header .button-hamburguer-menu {
  display: flex;
  align-self: center;
}

header .button-hamburguer-menu:hover {
  transform: scale(1.025);
  transition: all 300ms ease-out;
}

header .button-hamburguer-menu img {
  width: 3rem;
  height: 3rem;
}

header .mobile-menu {
  display: none;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  padding-block: 1rem;
  padding-inline: 2rem;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: white;
  transition: all 300ms ease-out;
}

header .isOpen.mobile-menu {
  display: flex;
  transition: all 300ms ease-out;
  animation: open-menu 1s;
}

header .nav-links {
  display: none;
}

header .nav-links a {
  transition: 300ms ease-out;
  color: var(--grayish-violet);
}

header .nav-links a:hover {
  color: black;
}

header .mobile-menu .buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .button-close-menu {
  align-self: end;
}

header .button-close-menu:hover {
  transform: scale(1.025);
  transition: all 300ms ease-out;
}

header .button-close-menu img {
  width: 3rem;
  height: 3rem;
}

header .mobile-menu .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100%;
}

header .mobile-menu .nav-links a {
  font-size: 2.5rem;
}

/* MAIN */

main {
  height: 600px;
  border: 1px solid red;
}

/* FOOTER */
footer {
  background-color: var(--very-dark-violet);
  box-sizing: border-box;
  padding: 2rem 1rem 2rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  text-align: center;
}

footer .div-logo {
  font-size: 1.3rem;
  color: white;
  padding: 1rem 0 1rem 0;
}

footer .content-topic {
  cursor: pointer;
  color: white;
  padding: 1rem 0 0 0;

}

footer p {
  cursor: pointer;
  color: var(--grayish-violet);
  margin-top: 1.5rem;
}

footer div a:first-of-type p:first-of-type {
  margin-top: 1rem;
}

.div-social-icons {
  display: flex;
  gap: 1.5rem;
  padding: 0 0 2rem 0;
}

footer img {
  width: 2rem;
  height: 2rem;
}



/* MEDIA QUERIES */

@media (min-width: 768px) {
  #container {
    padding-inline: var(--container-padding);
  }

  header .logo-nav-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  header .button-hamburguer-menu {
    display: none;
  }

  header .header-container .account-buttons {
    display: flex;
  }

  header .mobile-menu {
    display: none;
  }

  header .isOpen.mobile-menu {
    display: none;
  }

  header .nav-links {
    display: flex;
    gap: 2rem;
  }


  /* FOOTER */
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: initial;
    align-items: flex-start;
    text-align: left;
    padding: 2rem 0 2rem 0;
  }

  footer .div-logo {
    padding: 0 2rem 0 2rem;
  }

  footer p {
    margin-top: 1rem;
  }

  footer img {
    width: 2rem;
    height: 2rem;
  }


}